<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../javascript/owl.carousel.min.js"></script>
</head>

<body>
    <script>
        $(document).ready(function() {

            $("#owl-demo").owlCarousel({

                navigation: true, // Show next and prev buttons
                navText: ["<img src='../img/prev.png' class='prev'>", "<img src='../img/next.png' class='next'>"],
                loop: true,
                smartSpeed: 800,
                dots: false,
                slidespeed: 100,

                responsive: {

                    1300: {
                        items: 1
                    }
                }
            });

        });
    </script>


    <div class="container">
        <!-- /* ----------------------------LOGO-BANNER--------------------------- */ -->
        <div class="header">

            <div class="logo">
                <img class="logo-image" src="../img/logo-removebg-preview.png" alt="">
            </div>

            <div class="search">
                <input type="text" placeholder="Từ khóa tìm kiếm...">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </div>


            <div class="showcontact">
                <div class="showcontact1">
                    <div class="iconcontact1">
                        <a href="/product"><img src="../img/iconbagshopping.png" alt=""></a>
                    </div>
                    <div class="textcontact1">
                        <p>Giỏ hàng</p>
                        <span>0 sản phẩm</span>
                    </div>
                </div>
                <div class="showcontact2">
                    <div class="iconcontact2">
                        <a href="../user/login.html"><img src="../img/iconuser.png" alt=""></a>
                    </div>
                    <div class="textcontact2">
                        <p>Tài khoản</p>
                        <span>đơn hàng</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- /* ----------------------------end LOGO-BANNER--------------------------- */ -->




        <!-- /* -----------------------------menu-Ngang------------------------------- */ -->

        <div class="menu-ngang">
            <ul class="menu">
                <li><a href="../index.html">TRANG CHỦ</a></li>
                <li><a href="./introduce.html">GIỚI THIỆU</a></li>
                <li><a href="./product.html">SẢN PHẨM</a></li>
                <li><a href="./sale.html">SALE</a></li>
                <li><a href="./event.html">SỰ KIỆN</a></li>
                <li><a href="./contact.html">LIÊN HỆ</a> </li>

            </ul>
        </div>
        <!-- /* -----------------------------end menu-Ngang------------------------------- */ -->

        <!-- -------------------------------MENU dọc---------------------- -->

        <div class="slide">
            <div class="menu-doc">
                <div class="category">
                    <span class="danhmuc"><img class="icondanhmuc" src="../img/Menu_icon_icon-icons.com_71858.png" alt="" >DANH MỤC SẢN PHẨM</span>
                </div>
                <ul class="menudoc">
                    <li><a href="">Áo khoác</a></li>
                    <li><a href="">Quần jeasn</a></li>
                    <li><a href="">Áo sơ mi</a></li>
                    <li><a href="">Woman</a></li>
                    <li><a href="">Man</a></li>
                    <li><a href="">Kids</a> </li>
                </ul>
            </div>
            <div class="slider">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img src="../img/capture.jpg"></div>
                    <div class="item"><img src="../img/capture1.jpg"></div>
                    <div class="item"><img src="../img/capture2.jpg"></div>
                </div>
            </div>
        </div>
        <!-- -------------------------------end MENU dọc---------------------- -->


        <!-- /* -----------------------------main product------------------------------- */ -->
        <div class="mainproduct">
            <div class="product-left">
                <div class="sanphammoi-left">
                    <div class="newproduct">
                        <h2>SẢN PHẨM NỔI BẬT</h2>
                    </div>

                    <div class="images-product">
                        <ul class="product">

                            <li>
                                <div class="product1">
                                    <a href="../View/detail-01.html"><img src="../img/01.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex Logo short sleeve t-shirt in red </p>
                                    <p style="color: red;">$13.99</p>
                                </div>
                            </li>

                            <li>
                                <div class="product1">
                                    <a href="../View/detail-02.html"><img src="../img/02.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex graphic sun print t-shirt in brown</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>

                            <li>
                                <div class="product1">
                                    <a href="../View/detail-03.html"><img src="../img/03.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex license t-shirt with Lil Skies print in orange</p>
                                    <p style="color: red;">$28.99</p>
                                </div>
                            </li>

                            <li>
                                <div class="product1">
                                    <a href="../View/detail-04.html"><img src="../img/04.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex LA back print t-shirt in white</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>
                            <li>
                                <div class="product1">
                                    <a href="../View/detail-04.html"><img src="../img/04.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex LA back print t-shirt in white</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>
                            <li>
                                <div class="product1">
                                    <a href="../View/detail-04.html"><img src="../img/04.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex LA back print t-shirt in white</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>
                            <li>
                                <div class="product1">
                                    <a href="../View/detail-04.html"><img src="../img/04.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex LA back print t-shirt in white</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>
                            <li>
                                <div class="product1">
                                    <a href="../View/detail-04.html"><img src="../img/04.jpg" alt=""></a>
                                    <p style="color: blue;">COLLUSION Unisex LA back print t-shirt in white</p>
                                    <p style="color: red;">$16.99</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="newproduct1">
                        <h2>BÀI BIẾT MỚI NHẤT</h2>
                    </div>
                </div>
            </div>


            <div class="product-right">
                <div class="suport-online">
                    <div class="workshome-title">
                        <h2>
                            <span>HỖ TRỢ TRỰC TUYẾN</span>
                        </h2>
                    </div>
                    <div class="workshome-content">
                        <div class="hotline-product">
                            <img src="../img/bghotro.png" alt="">
                            <p>Hotline: <span>0869301683</span></p>
                        </div>
                        <div class="counselors-product">
                            <p>Kinh doanh</p>
                            <p>0927027844 (Phi)</p>
                        </div>
                        <div class="counselors-product">
                            <p>Tư vấn kỹ thuật</p>
                            <p>0924250925 (Mr.Phi)</p>
                        </div>
                    </div>
                </div>
                <div class="image-library">
                    <div class="workshome-title2">
                        <h2>
                            <span>THƯ VIỆN HÌNH ẢNH</span>
                        </h2>
                    </div>
                    <div class="workshome-content2">
                        <img src="../img/img-library1.jpg" alt="">
                        <img src="../img/img-library2.jpg" alt="">
                        <img src="../img/img-library3.jpg" alt="">
                        <img src="../img/img-library4.jpg" alt="">
                        <img src="../img/img-library5.jpg" alt="">

                        <iframe width="306" height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        <iframe width="306" height="300" src="https://www.youtube.com/embed/Cn2oMNvxvfM"></iframe>
                    </div>
                </div>
            </div>
        </div>


        <!-- /* -----------------------------end main product------------------------------- */ -->


        <!-- ----------------------------Footer-------------------------------- -->
        <div class="footer">
            <div class="information">
                <h3>CÔNG TY TNHH 1 THÀNH VIÊN</h3>
                <p><b>Địa chỉ</b>: 90 Lê Sát, Phường Tân Qúy, Quận Tân Phú, TP.HCM</p>
                <p><b>Điện Thoại</b>:0869301683</p>
                <p><b>Email</b>:phima2001@gmail.com; phima2001@hotmail.com</p>
                <p><b>Facebook</b>:https://www.facebook.com/2handvirus/</p>
            </div>

            <div class="about">
                <h3>CHÍNH SÁCH</h3>
                <ul>
                    <li><a class="policy" href="#">Điều Khoản Dịch Vụ</a></li>
                    <li><a class="policy" href="#">Chính Sách Bảo Mật</a></li>
                    <li><a class="policy" href="#">Chính Sách Vận Chuyển</a></li>
                    <li><a class="policy" href="#">Chính Sách Đổi Trả</a></li>
                    <li><a class="policy" href="#">Chính Sách Thanh Toán</a></li>
                </ul>





            </div>

            <div class="contacts">
                <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                <a href="tel:0869301683"><img src="../img/phone.png" alt=""></a>
                <a href="#"><img src="../img/zalo.png" alt=""></a>
                <a href="https://www.facebook.com/PiiNo442001"><img src="../img/messenger.png" alt=""></a>
            </div>

        </div>

        <!------------------------- end footer----------------------------------- -->

    </div>





</body>

</html>